@import "../../theme.scss";

.MiniCalendar {
  @include themeWindow();
  display: flex;

  color: wheat;

  flex-wrap: wrap;

  .month {
    width: 100%;
    height: 3%;
    text-align: center;
  }

  .day {
    width: 14%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
